html,body{ 
	margin:0;
}
head title{
	font-size:20px;

}

header
	{
background-color:black;
padding: 35px;
text-align:center;
}
h1
	{
	font-size:70px;
	color:#c2c2d6;
}
header img{
	border-radius:45%;
	width: 250px;
}	

.content{
	max-width: 400px;
	margin: 0 auto;
	background-color:#854766 ;
	padding: 0 20px;
}
img.big-image{
max-width: 100%;
}

p.caption{
	font-size:20px;
	color:lightgrey;
	font-style: italic;
}

ul{
	list-style:none;
	 padding:0;
	 margin:0;
}
a{
	color:#660033;
	text-decoration: underline;

}

footer{
	margin-top: 20px;
	padding:40 px 20px;
	background-color:#854766;
}
footer ul{
	text-align: center;
}
footer ul li{
	display:inline-block;
	margin: 0 5px;
}